@{
  TempData.Keep();
  string? currentPage = Convert.ToString(ViewContext.RouteData.Values["Page"])!;
}

<!-- Menu -->
@* ! Do this simple *@
<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">

  @* ! Hide app brand if navbar-full *@
  <div class='app-brand demo @((@ViewData["navbarFull"] != null && Convert.ToBoolean(@ViewData["navbarFull"])) ? "d-xl-none" : "")'>
    <a asp-page="/Index" class="app-brand-link">
      <span class="app-brand-logo demo">
        @await Html.PartialAsync("../_Partials/_Macros")
      </span>
      <span class="app-brand-text demo menu-text fw-bold">@TempData.Peek("appName")</span>
    </a>

    <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto">
      <i class="ti menu-toggle-icon d-none d-xl-block ti-sm align-middle"></i>
      <i class="ti ti-x d-block d-xl-none ti-sm align-middle"></i>
    </a>
  </div>

  <div class="menu-inner-shadow"></div>




    <ul class="menu-inner">
        <li class='menu-item@(currentPage.StartsWith("/Auth/") ? " active" : "")'>
            <a href="javascript:void(0);" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons ti ti-lock"></i>
                <div data-i18n="احراز هویت و ثبت نام">احراز هویت و ثبت نام</div>
            </a>
            <ul class="menu-sub">
                <li class='menu-item@(currentPage.StartsWith("/Auth/Login") ? " active" : "")'>
                    <a href="javascript:void(0);" class="menu-link menu-toggle">
                        <div data-i18n="ورود به سیستم">ورود به سیستم</div>
                    </a>
                    <ul class="menu-sub">
                        <li class='menu-item@(currentPage == "/Auth/Login/Basic" ? " active" : "")'>
                            <a asp-page="/Auth/Login/Basic" class="menu-link" target="_blank">
                                <div data-i18n="ورود">ورود</div>
                            </a>
                        </li>

                    </ul>
                </li>
                <li class='menu-item@(currentPage.StartsWith("/Auth/Register") ? " active" : "")'>
                    <a href="javascript:void(0);" class="menu-link menu-toggle">
                        <div data-i18n="ثبت نام در سیستم">بخش ثبت نام</div>
                    </a>
                    <ul class="menu-sub">
                        <li class='menu-item@(currentPage == "/Auth/Register/Basic" ? " active" : "")'>
                            <a asp-page="/Auth/Register/Basic" class="menu-link" target="_blank">
                                <div data-i18n="ثبت نام">ثبت نام</div>
                            </a>
                        </li>

                    </ul>
                </li>
            </ul>
        </li>



        <!-- Apps -->
        <li class='menu-item@(currentPage.StartsWith("/Apps/") ? " active" : "")'>
            <a href="javascript:void(0)" class="menu-link menu-toggle">
                <i class='menu-icon tf-icons ti ti-layout-grid-add'></i>
                <div data-i18n="برنامه ها">برنامه ها</div>
            </a>
            <ul class="menu-sub">
                <li class='menu-item@(currentPage == "/Apps/Email" ? " active" : "")'>
                    <a asp-page="/Apps/Email" class="menu-link">
                        <i class="menu-icon tf-icons ti ti-mail"></i>
                        <div data-i18n="ایمیل">ایمیل</div>
                    </a>
                </li>

            </ul>
        </li>

        <!-- Pages -->
        <li class='menu-item@(currentPage.StartsWith("/Apps/Access/") ? " active open" : "")'>
            <a href="javascript:void(0);" class="menu-link menu-toggle">
                <i class='menu-icon tf-icons ti ti-settings'></i>
                <div data-i18n="نقش ها  & مجوز ها">نقش ها  & مجوز ها</div>
            </a>
            <ul class="menu-sub">
                <li class='menu-item@(currentPage == "/Apps/Access/Roles" ? " active" : "")'>
                    <a asp-page="/Apps/Access/Roles" class="menu-link">
                        <div data-i18n="نقش ها">نقش ها</div>
                    </a>
                </li>
                <li class='menu-item@(currentPage == "/Apps/Access/Permission" ? " active" : "")'>
                    <a asp-page="/Apps/Access/Permission" class="menu-link">
                        <div data-i18n="مجوز ها">مجوز ها</div>
                    </a>
                </li>
            </ul>
        </li>

        <li class='menu-item@((currentPage.StartsWith("/Pages/") || currentPage.StartsWith("/Wizards/") || currentPage.StartsWith("/Auth/") || currentPage.StartsWith("/Modals/")) ? " active" : "")'>
            <a href="javascript:void(0)" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons ti ti-file"></i>

                <div data-i18n="صفحات">صفحات</div>
            </a>
            <ul class="menu-sub">
                <!-- Front Pages -->

                <li class='menu-item@(currentPage.StartsWith("/Pages/Profile") ? " active" : "")'>
                    <a href="javascript:void(0);" class="menu-link menu-toggle">
                        <i class="menu-icon tf-icons ti ti-user-circle"></i>
                        <div data-i18n="پروفایل کاربر">پروفایل کاربر</div>
                    </a>
                    <ul class="menu-sub">
                        <li class='menu-item@(currentPage == "/Pages/Profile/User" ? " active" : "")'>
                            <a asp-page="/Pages/Profile/User" class="menu-link">
                                <div data-i18n="پروفایل">پروفایل</div>
                            </a>
                        </li>

                    </ul>
                </li>
                <li class='menu-item@(currentPage.StartsWith("/Pages/AccountSettings") ? " active" : "")'>
                    <a href="javascript:void(0);" class="menu-link menu-toggle">
                        <i class="menu-icon tf-icons ti ti-settings"></i>
                        <div data-i18n="تنظیمات اکانت">تنظیمات اکانت</div>
                    </a>
                    <ul class="menu-sub">
                        <li class='menu-item@(currentPage == "/Pages/AccountSettings/Account" ? " active" : "")'>
                            <a asp-page="/Pages/AccountSettings/Account" class="menu-link">
                                <div data-i18n="اکانت">اکانت</div>
                            </a>
                        </li>
                    </ul>
                </li>


                <li class='menu-item@(currentPage.StartsWith("/Auth/") ? " active" : "")'>
                    <a href="javascript:void(0);" class="menu-link menu-toggle">
                        <i class="menu-icon tf-icons ti ti-lock"></i>
                        <div data-i18n="احراز هویت">احراز هویت</div>
                    </a>
                    <ul class="menu-sub">
                        <li class='menu-item@(currentPage.StartsWith("/Auth/Login") ? " active" : "")'>
                            <a href="javascript:void(0);" class="menu-link menu-toggle">
                                <div data-i18n="ورود">ورود</div>
                            </a>
                            <ul class="menu-sub">
                                <li class='menu-item@(currentPage == "/Auth/Login/Basic" ? " active" : "")'>
                                    <a asp-page="/Auth/Login/Basic" class="menu-link" target="_blank">
                                        <div data-i18n="ورود به سیستم">ورود به سیستم</div>
                                    </a>
                                </li>

                            </ul>
                        </li>
                        <li class='menu-item@(currentPage.StartsWith("/Auth/Register") ? " active" : "")'>
                            <a href="javascript:void(0);" class="menu-link menu-toggle">
                                <div data-i18n="ثبت نام">ثبت نام</div>
                            </a>
                            <ul class="menu-sub">
                                <li class='menu-item@(currentPage == "/Auth/Register/Basic" ? " active" : "")'>
                                    <a asp-page="/Auth/Register/Basic" class="menu-link" target="_blank">
                                        <div data-i18n="ثبت نام در سیستم">ثبت نام در سیستم</div>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>

            </ul>
        </li>

    </ul>

</aside>
<!-- / Menu -->
