@page
@model AspnetCoreStarter.Pages.IndexModel
@{
  ViewData["Title"] = "Home - Starter Kit";
}

@* ************** Content ************** *@
<h4 class="py-3 mb-4">Home Page</h4>
<p>For more layout options refer <a href='@TempData.Peek("documentation")/net-core-introduction.html' target="_blank" rel="noopener noreferrer">documentation</a>.</p>
