@page
@model AspnetCoreFull.Pages.Pages.Misc.ComingSoonModel
@{
  Layout = "Layouts/_BlankLayout";
  ViewData["Title"] = "Coming Soon - Pages";
}

@section PageStyles {
<link rel="stylesheet" href="~/vendor/css/pages/page-misc.dist.css">
}

@* ************** Content ************** *@
<!-- Under Maintenance -->
<div class="container-xxl container-p-y">
  <div class="misc-wrapper">
    <h2 class="mb-1 mx-2">We are launching soon</h2>
    <p class="mb-4 mx-2">We're creating something awesome. Please subscribe to get notified when it's ready!</p>
    <form onsubmit="return false" class="mb-4">
      <div class="mb-0">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="email" autofocus>
          <button type="submit" class="btn btn-primary">Notify</button>
        </div>
      </div>
    </form>
    <div class="mt-4">
      <img src="~/img/illustrations/page-misc-launching-soon.png" alt="page-misc-launching-soon" width="263" class="img-fluid">
    </div>
  </div>
</div>
<div class="container-fluid misc-bg-wrapper">
  <img src="~/img/illustrations/bg-shape-image-light.png" alt="page-misc-coming-soon" data-app-light-img="illustrations/bg-shape-image-light.png" data-app-dark-img="illustrations/bg-shape-image-dark.png">
</div>
<!-- /Under Maintenance -->
